@include respond-to('sm') {
  .navbar-default {
    background: #363C44;
    border: none;
    box-shadow:none;
    .navbar {
      &-nav{
        >li>a {
          color:#FFF;
          padding: 15px 10px;
          text-shadow: none;
          &:hover, &:focus {
            color:#666;
            background-color:transparent;
          }
        }
      }
      &-header {
        width: 100%;
        margin: 0;
      }
      &-toggle {
        margin-right: 15px;
        margin-top: 15px;
        background: transparent;
        .icon-bar {
          background-color:#FFF;
        }
      }
      &-collapse {
        background: rgba(0,0,0,.35);
      }
      &-brand {
        align-items: center;
        display: flex;
        height: auto;
        padding: 10px 15px;
        > img {
          max-width: 230px;
        }
      }
    }
  }
}
@include respond-to('md') {
  .navbar-default {
    .navbar {
      &-nav {
        align-items: center;
        @include flexbox();
        height: 85px;
      }
      &-brand {
        display: block;
        float: none;
        padding: 10px 0;
        text-align: center;
        > img {
          max-width: 300px;
        }
      }
      &-collapse {
        background: transparent;
      }
    }
  }
}
@include respond-to('lg') {
  .navbar-default {
    .navbar {
      &-header {
        width: auto;
      }
      &-brand {
        background-size: auto;
        float: left;
        text-align: left;
      }
    }
  }
}
