@include respond-to('basic') {
  .header {
    background: url(../img/fec_background.png) no-repeat center center;
    background-size: cover;
    padding: 195px 0;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    max-height: 600px;

    .title {
      font-weight: 300;
      font-size: 40px;
      display: block;
      line-height: 1.3;
      margin: 0 auto;
    }
    .subtitle {
      font-weight: 300;
      font-size: 20px;
    }

    .wrap-buttons {
      margin-top: 55px;

      .btn {
        font-size: 1.2em;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 200px;
        height: 40px;
        // line-height: 1;
      }
    }
  }
}

@include respond-to('md') {
  .header {
    .title{
      font-size: 50px;
    }
  }
}

@include respond-to('lg') {
  .header {
    .title{
      font-size: 60px;
    }
  }
}
