#home {
  background: url(/img/fec_background.png) no-repeat center center;
  background-size: cover;
  padding: 225px 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;

  .title {
    font-weight: 300;
    font-size: 60px;
    display: block;
    line-height: 1.3;
    margin: 0 auto;
    text-indent: -40%;
    padding-left: 160px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 34px;
  }
}
