.palestrante {
  position: relative;
  overflow: hidden;
  .avatar {
    width: 100%;
  }
  .details {
    position: absolute;
    transform: translate3d(-100%, 0, 0);
    top:0;
    width: 100%;
  }

  &:hover {
    .details {
      transform: translate3d(0,0,0);
      transition: transform linear 500ms;
    }
  }
}
