body {
  font-size: 14px;
  font-weight: 300;
}
* {font-family: 'Open Sans', sans-serif;}

.svgstore {
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.btn, .btn:hover {
  text-shadow: none;
}

.btn-default {
  background: rgba(255,255,255, 0.5);
  border-color: rgba(255,255,255, 0.5);
  color: #fff;
}
.btn-primary {
  background: #FFCF27;
  border-color: #FFCF27;
  color: #363C44;
  &:hover {
    background: #EFBF17;
    border-color: #EFBF17;
    // color: #FFF;
  }
}
.section {
  padding: 20px 0;
  &-title {
    text-align: center;
  }
  &-subtitle {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 50px;
    span {
      border-bottom: 1px solid #FFCF27;
    }
  }
}

@include respond-to('basic') {
  .container {
    padding: 0;
    margin: 0;
  }
}
@include respond-to('md') {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
