body {
  font-size: 14px;
  font-weight: 300;
  a {
    outline: none;
  }
}
* {font-family: 'Open Sans', sans-serif;}

.svgstore {
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.btn, .btn:hover {
  text-shadow: none;
}

.btn-default {
  background: rgba(255,255,255, 0.5);
  border-color: rgba(255,255,255, 0.5);
  color: #fff;
}
.btn-primary {
  background: #FFCF27;
  border-color: #FFCF27;
  color: #363C44;
  &:hover {
    background: #EFBF17;
    border-color: #EFBF17;
    // color: #FFF;
  }
}
.section {
  box-sizing: content-box;
  padding: 30px 15px;
  overflow: hidden;
  &-title {
    text-align: center;
    font: 300 26px/36px roboto;
  }
  &-subtitle {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 25px;
  }
}

.nav-tabs {
  border:none;
  margin-bottom: 20px;
  text-align: center;
  >li {
    float: none;
    display: inline-block;
    margin-bottom: 0;
    a {
      border: none;
      font-size: 1.15em;
      padding: 5px;
    }
    > a:focus,
    > a:hover,
    &.active>a,
    &.active>a:focus,
    &.active>a:hover {
      border: none;
      background: transparent;
    }
  }
}

.tab-pane {
  .card {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 20px;
    min-height: 300px;
    margin-bottom: 30px;

    .schedule {
      margin: 10px 0 5px;
      font-size: 1.3em;
    }
    .title {
      font-size: 1.5em;
      font-weight: 400;
      font-family: Roboto;
    }
    .panelist {
      font-size: 1.15em;
      font-family: Roboto;
      font-weight: 300;
      strong {
        font-weight: 400;
      }
    }

    .list {
      list-style: none;
      padding-left: 0;

      li {
        line-height: 2em;
        margin-bottom: 10px;

        .marker {
          margin-right: 5px;
          padding: 0 10px;
          background: #FFCF27;
          color: #363C44;
          font-weight: bold;
          border-radius: 5px;
          float: left;
        }
      }
    }
  }
}


@include respond-to('basic') {

}
@include respond-to('md') {

  .section {
    &-subtitle {
      margin-bottom: 50px;
    }
  }

  .container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
