body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.svgstore {
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.btn-default {
  background: #FFCF27;
  border-color: #FFCF27;
}

@include respond-to('sm') {
  .container {
    padding: 0;
    margin: 0;
  }
}
@include respond-to('md') {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
}
