#sobre {
  // background: url(/img/fec_background.png) no-repeat center center;
  // background-size: cover;
  @include flexbox;
  padding: 20px 0 40px;
  color: #fff;
  align-items: center;
  text-align: center;
  // font-family: Roboto;
  max-height: 600px;

  .logo {
    @include flex(1);
    text-align: center;
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .content {
    @include flex(1);
    color: #363C44;
    text-align: left;
    padding-right: 20px;
    .title {
      font-size: 3em;
      font-weight: 400;
    }
    p {
      font-size: 1.2em;
      line-height: 1.5em
    }
  }
}
