// Animation
$transition-in: 300ms;
$transition-out: 350ms;

// Colors
$color-gray: #363C44;
$color-green: #00b29e;
$color-yellow: #FFCF27;

// Fonts
$font-primary: 'Open Sans', Arial, Helvetica, sans-serif;
$font-size-small: .875em;
$font-size-base: 1em;
$font-size-large: 1.25em;
$font-size-xlarge: 2.5em;
